@{
    Layout = "_ToDoListsLayout";
}

@using Newtonsoft.Json;
@using todo_aspnetmvc_ui.Infrastructure

@model ToDoList

@{
    var newToDoItem = new ToDoEntry { ToDoList = Model };
}

<div class="row m-1 p-1">
    <div id="todolistCreation" class="col-3">
        <partial name="_ToDoListSummary" model="@Model" />
        <br />
    </div>
    <div class="col-9">
        <div class="hstack gap-3">
            <div class="col-auto">
                <h3 for="inputToDoListTitle" class="form-label">ToDo: @Model.MainTitle</h3>
            </div>
            <div class="col-auto">
                <form asp-controller="ToDoLists" asp-action="EditToDoListTitle" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit@(Model.Id)">
                        Rename list
                    </button>
                    <partial name="_EditToDoListTitle" model="@Model" />
                </form>
            </div>
            <div class="col-auto">
                <form asp-controller="ToDoLists" asp-action="DeleteToDoList" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removeTodoListModal">
                        Delete list
                    </button>
                    <dlg id="removeTodoListModal" title="Remove ToDo list">
                        Are you sure to want to completely remove this ToDo list?
                    </dlg>
                </form>
            </div>
            <div class="col-auto">
                <button onclick="copyToClipboard(@(JsonConvert.SerializeObject(Model, Formatting.Indented, new ToDoStatusJsonConverter())))"
                        type="button" class="btn btn-info btn-sm form-control">
                    Copy list
                </button>
            </div>
        </div>
        <hr class="hr" />
        @if (Model.ToDoEntries.Count != 0)
        {
            <div class="col-auto">
                <form method="post" asp-controller="ToDoLists" autocomplete="off">
                    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addItemModal">
                        Add task
                    </button>
                    <partial name="_AddToDoItem" model="@(new ToDoEntry { ToDoList = Model})" />
                </form>
            </div>
            <div class="mb-3 form-check">
                <partial name="_ToDoItemsInfo" model="@Model.ToDoEntries" />
            </div>
        }
        else
        {
    <div class="d-flex justify-content-center flex-column">
        <p class="fs-4 fw-lighter text-center">
            No tasks yet
        </p>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <form method="post" asp-controller="ToDoLists">
                        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addItemModal">
                            Add task
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <partial name="_AddToDoItem" model="@(new ToDoEntry { ToDoList = Model})" />
    </div>
        }

        <hr class="hr" />
        <a class="btn btn-primary" href="Index">Finish -></a>
    </div>
    <partial name="_CopyListToastForm" />
</div>


