@using todo_aspnetmvc_ui.Infrastructure
@using System.ComponentModel.DataAnnotations;

@model IEnumerable<ToDoEntry>

@{
    var orderedToDoItems = Model.OrderBy(entry => entry.OrdinalNumber);
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Due date</th>
                <th scope="col">Status</th>
                <th scope="col">Description</th>
                <th scope="col">Notes</th>
                <th> </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var todoItem in orderedToDoItems)
            {
                <tr>
                    <th>@todoItem.OrdinalNumber</th>
                    <td>@todoItem.Title</td>
                    <td>@todoItem.DueDate</td>
                    <td>
                        @if (todoItem.Status == ToDoStatus.NotStarted)
                        {
                            <img id="statusImg@(todoItem.Id)" width="20" src="~/img/icons/status-not-started.png">
                        }
                        else if (todoItem.Status == ToDoStatus.InProgress)
                        {
                            <img id="statusImg@(todoItem.Id)" width="20" src="~/img/icons/status-in-progress.png">
                        }
                        else
                        {
                            <img id="statusImg@(todoItem.Id)" width="20" src="~/img/icons/status-completed.png">
                        }
                        <span id="statusSpan@(todoItem.Id)">
                            @(todoItem.Status.GetAttribute<DisplayAttribute>().Name)
                        </span>
                    </td>
                    <td>@todoItem.Description</td>
                    <td>@(string.IsNullOrEmpty(todoItem.Notes) ? "-" : todoItem.Notes)</td>

                    <td>
                        @if (todoItem.Status == ToDoStatus.NotStarted)
                        {
                            <input id="statusBtn@(todoItem.Id)" type="button" value="Start" class="btn btn-outline-success btn-sm"
                                   onclick="processState(@todoItem.Id, '@Url.Action("ChangeToDoStatus", "ToDoLists")')" />

                        }
                        else if (todoItem.Status == ToDoStatus.InProgress)
                        {
                            <input id="statusBtn@(todoItem.Id)" type="button" value="Complete" class="btn btn-outline-success btn-sm"
                                   onclick="processState(@todoItem.Id, '@Url.Action("ChangeToDoStatus", "ToDoLists")')" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>