@model ToDoItemsViewModel

@{
    ViewBag.SelectedCategory = Model.CurrentCategory;
}


<div class="row m-1 p-1">
    <div id="categories" class="col-3">

        <h5>ToDo items by due date</h5>
        <vc:to-do-items-navigation-menu />
    </div>
    <div class="col-9">
        @if (Model.GroupedToDoItems.Count() != 0)
        {
            @foreach (var list in Model.GroupedToDoItems)
            {
                <a asp-controller="ToDoLists" asp-action="OpenToDoList" asp-route-toDoListId="@list.Key.Id">
                    <h6>@list.Key.MainTitle</h6>
                </a>
                <partial name="_ToDoItems" model="@list" />
                <br />
            }
        }
        else
        {
            <p class="fs-4 fw-lighter text-center">
                No ToDo items
            </p>
        }

        @if (Model.PagingInfo.TotalPages > 1)
        {
            <pagenav page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                     page-class="page-link" page-class-normal="page-item" page-class-selected="page-item active"
                     page-url-category="@Model.CurrentCategory">
            </pagenav>
        }
    </div>
</div>


