@model ToDoItemsViewModel

@{
    ViewBag.SelectedCategory = Model.SelectedDueDate;
}


<div class="row m-1 p-1">
    <div id="categories" class="col-3">

        <h5>View tasks by due date</h5>
        <vc:to-do-items-navigation-menu />
    </div>
    <div class="col-9" style="background-color:azure">
        @if (Model.GroupedToDoItems.Count() != 0)
        {
            @foreach (var list in Model.GroupedToDoItems)
            {

                <h6>
                    ToDo list:
                    <a asp-controller="ToDoLists" asp-action="OpenToDoList" asp-route-toDoListId="@list.Key.Id">
                        @list.Key.MainTitle
                    </a>
                </h6>

                <partial name="_ToDoItems" model="@list" />
                <br />
            }
        }
        else
        {
            <p class="fs-4 fw-lighter text-center">
                No uncompleted tasks
            </p>
        }

        @if (Model.PagingInfo.TotalPages > 1)
        {
            <pagenav page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                     page-class="page-link" page-class-normal="page-item" page-class-selected="page-item active"
                     page-url-duedate="@Model.SelectedDueDate">
            </pagenav>
        }
    </div>
</div>


