@model ToDoEntry

@{
    var ordinalNumbersList = new List<int>();

    if (Model.ToDoList.ToDoEntries.Count() != 0)
    {
        ordinalNumbersList = Enumerable.Range(1, Model.ToDoList.ToDoEntries.Count()).ToList();
    }
}

<div class="modal fade" id="editItem@(Model.Id)" tabindex="-1" aria-labelledby="todoListTitleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="todoListTitleLabel">Edit ToDo list title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" name="todoListId" value="@Model.ToDoList.Id"/>
                    <label for="ordinalNumberList" class="form-label">O/n</label>
                    <select id="ordinalNumberList" asp-for="OrdinalNumber" class="form-control form-select-sm" aria-label="Item order">
                        @foreach (var option in ordinalNumbersList)
                        {
                            if (option == Model.OrdinalNumber)
                            {
                                <option value="@option" selected>@option</option>
                            }
                            else
                            {
                                <option value="@option">@option</option>
                            }
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="inputTitle" class="form-label">Title</label>
                    <input id="inputTitle" asp-for="Title" type="text" class="form-control form-select-sm" aria-describedby="titleHelp">
                </div>
                <div class="mb-3">
                    <label for="inputDueDate" class="form-label">Due date</label>
                    <input id="inputDueDate" asp-for="DueDate" type="date" class="form-control form-select-sm" aria-describedby="dueDateHelp">
                </div>
                <div class="mb-3">
                    <label for="toDoStatusList" class="form-label">Status</label>
                    <select id="toDoStatusList" asp-for="Status" asp-items="Html.GetEnumSelectList<ToDoStatus>()" class="form-control form-select-sm" aria-label="ToDoStatuses">
                    </select>
                </div>
                <div class="mb-3">
                    <label for="inputDescription" class="form-label">Description</label>
                    <input id="inputDescription" asp-for="Description" type="text" class="form-control form-select-sm" aria-describedby="DescHelp">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input asp-action="EditToDoItem" class="btn btn-primary" type="submit" value="Apply">
            </div>
        </div>
    </div>
</div>